/*
 * Color Scheme
 *  #DB8A0B
 *  #16DB5E
 *  #DB4900
 *  #1680DB
 *  #DB140B
 */

.container {
  width: 100%;
  border: 1em #1680db groove;
  background-color: #db8a0b;
}

.row {
  margin: 0.5em;
  flex-wrap: nowrap;
}

.img-thumbnail {
  background-color: #1680db;
  border-color: #1680db;
}

.h-divider {
  margin: 1em auto;
  height: 1px;
  width: 80%;
  border-top: 1em #1680db groove;
}

.card-body {
  background: #db4900;
}

.accordion-item {
  background-color: #16db5e;
}

.accordion-body {
  background-color: #1680db;
}

.fbreak {
  flex-basis: 100%;
  width: 0;
}

.info {
  margin-left: 1em;
  margin-top: 1em;
}

body {
  background-color: darkgray;
}

div {
  font-size: 2vw;
}

h4 {
  font-size: 3vw;
}

h5 {
  font-size: 2.5vw;
}

h6 {
  font-size: 2vw;
}
